[general]
bot_qq_id = "114514"  # 机器人 QQ 号
bot_admin_tiny_id = 1234567  # 机器人管理员 tiny id，与QQ号不通用，详见 https://docs.go-cqhttp.org/guild/#%E5%91%BD%E5%90%8D%E8%AF%B4%E6%98%8E

[notice]
user = "1234@abcd.com"  # 通知邮箱
host = "smtp.abcd.com"  # 通知邮箱对应的SMTP服务器域名
port = 123  # SMTP服务器端口
key = "abcdefg123"  # SMTP服务器授权码

[db]
file_name = "xxx.db"  # 数据库名称

[analyzer]
target_group = 1234567  # 要分析的群的群号
report_title = "每日报告"  # 报告的标题
big_banner = true  # 是否启用大banner
week_bar_plot = true  # 是否启用周柱状表分析
day_bar_plot = true  # 是否启用日柱状表分析

[sender]
message_send_interval = 2  # 消息发送间隔，单位：秒
message_send_retry = 10  # 发送失败后重试次数
target_guild = "12345"  # 要发送消息的频道的频道号
target_group = 1234567  # 要发送消息的群的群号
